extends layout

block content
  h1= title
  p Welcome to #{title}
  p Example usage:
  code https://timestamp-jaykun.c9users.io/1278138
  br
  code https://timestamp-jaykun.c9users.io/January 4, 1970
  
  p output:
  code {"unix": 1278138, "natural": January 4, 1970}